.authForm {
    width: 50vw;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;      
} 

.authForm__form {
    max-width: 400px;
}